--extra-index-url https://download.pytorch.org/whl/cpu

numpy==1.26.4
opencv-python-headless==4.11.0.86
torch==2.6.0+cpu
torchvision==0.21.0+cpu
matplotlib>=3.3.0
pillow>=7.1.2
pyyaml>=5.3.1
requests>=2.23.0
scipy>=1.4.1
psutil>=5.8.0
polars>=0.20.0
ultralytics-thop>=2.0.18
